{% extends 'app/base.html' %}
{% load static %}
{% block title %}Buy Now{% endblock title %}
{% block main-content %}
<div class="container-fluid my-5">
 <div class="row">
  <div class="col-sm-2">
   <div class="list-group">
       <a href="" class="list-group-item list-group-item-action mt-2 shadow"><h5>List</h5></a>
       <a href="" class="list-group-item list-group-item-action mt-2 shadow"><h5>List</h5></a>
       <a href="" class="list-group-item list-group-item-action mt-2 shadow"><h5>List</h5></a>
       <a href="" class="list-group-item list-group-item-action mt-2 shadow"><h5>List</h5></a>
   </div>
  </div>
   <div class="col-sm-8 offset-sm-1">
    
    <div class="row my-3">
      {% for product in products %}
      <div class="col-md-4 ml-1 mt-2">
        
        <div class="card shadow-lg ml-2 mt-2" style="width: 16rem; height:auto; background-color: whitesmoke;">
          <a href="{% url 'product_detail' product.id %}">
            <div class="inner align-items-center p-3">
            <img class="card-img-top img-fluid" src="{{product.image.url}}" alt="Card image cap" style="height: 12rem;  width: 16rem;">
          </div>
          </a>
          <div class="card-body">
            <h5 class="card-title" style="white-space: nowrap; text-overflow: ellipsis; overflow: hidden;">{{product.title}}</h5>
            <span><p class="card-text">{{product.color}} | {{product.category}}</p></span>
            <p style="color: gray;">({{product.stock}})</p>
            <h6>₹{{product.discounted_price}} | <strike>₹{{product.selling_price}}</strike> </h6>
            <a href="{% url 'product_detail' product.id %}"><button type="submit" class="btn btn-primary shadow-lg">View details</button></a>
          </div>
        </div>
        
      </div>
     {% endfor %}
    </div>
  <hr>

   </div>
 </div>
</div>

<style>
  .inner{
   overflow: hidden;
}

.inner img{
   transition: all 1.2s ease;
}

.inner:hover img{
   transform: scale(1.2);
}
</style>
{% endblock main-content %}