{% extends 'app/base.html' %}

{% load static %}
<link rel="stylesheet" href="{% static 'verify.html' %}">
{% block title %}Otp verification{% endblock title %}
{% block main-content %}
<div id="app">
    <div class="container height-100 d-flex justify-content-center align-items-center">
        <div class="position-relative">
            <div class="card p-2 text-center mt-5">
                
                <h6>Please enter the one time password<br> </h6>
                <div> <span>send to</span><small>{{phone}}</small> </div>
                <div class="text-center" style="color: red;">{{error}}</div>
                <form action="{% url 'check_otp' %}" method="post" name="myForm" onsubmit="return validateForm()">
                    {% csrf_token %}
                <div id="otp" class="inputs d-flex flex-row justify-content-center mt-2"> <input name='otp' class="m-2 text-center form-control rounded" type="number" placeholder="Enter the otp" id="input1" v-on:keyup="inputenter(4)" maxlength="4" /> </div>
                <div class="mt-4"> <button type="submit" class="btn btn-danger px-4 ">Submit</button> </div>
                <p id="timer">otp will resend in <p id="resend"></p></p>
                </form>
                <a href="{% url 'resend_otp' %}"><button id="resend_otp" class="btn btn-info text-center" style="display: none;">Resend</button></a>
            </div>
        </div>
    </div>
</div>
<script>
    function validateForm() {
      let x = document.forms["myForm"]["otp"].value;
      if (x == "") {
        swal.fire("please Enter something");
        return false;
      }
    }
    </script>

<script>
    var min = 1
    sec = 30
    function refresh() {

         if (sec == 0 && min >= 1) {
              min = min - 1
              sec = 59
         }
         if (sec != 0) {
              setTimeout(refresh, 1000)
              sec -= 1
              if(sec<10){
                $("#resend").html('  0' + min + ' : ' + sec)
              }
              else{
                 $("#resend").html('  0' + min + ' : ' + sec)
              }
         } else {
              document.getElementById("resend_otp").style.display='block';
              document.getElementById("timer").style.display='block';
              document.getElementById("resend").style.display='block';
         }
    }
    refresh()
</script>
{% endblock main-content %}