{% extends 'app/base.html' %}

{% load static %}
<link rel="stylesheet" href="{% static 'verify.html' %}">
{% block title %}Otp verification{% endblock title %}
{% block main-content %}
<div id="app">
    <div class="container height-100 d-flex justify-content-center align-items-center">
        <div class="position-relative">
            <div class="card p-2 text-center mt-5">
                
                <h6>Please enter the one time password<br> </h6>
                <div> <span>send to</span><small>{{phone}}</small> </div>
                <div class="text-center" style="color: red;">{{error}}</div>
                <form action="{% url 'check_otp' %}" method="post">
                    {% csrf_token %}
                <div id="otp" class="inputs d-flex flex-row justify-content-center mt-2"> <input name='otp' class="m-2 text-center form-control rounded" type="number" placeholder="Enter the otp" id="input1" v-on:keyup="inputenter(4)" maxlength="4" /> </div>
                <div class="mt-4"> <button type="submit" class="btn btn-danger px-4 ">Submit</button> </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock main-content %}