{% extends 'base.html' %}
{% load static %}

    {% block content %}
       
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
             <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-12 d-flex no-block align-items-center">
                        <h4 class="page-title">Dashboard</h4>
                        <div class="ml-auto text-right">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Library</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Sales Cards  -->
                <!-- ============================================================== -->
                <div class="row">
                    <!-- Column -->
                    <div class="col-md-6 col-lg-2 col-xlg-3">
                        <a href="{% url 'user_management' %}"><div class="card card-hover">
                            <div class="box bg-cyan text-center">
                                <h1 class="font-light text-white"><i class="fa fa-user m-b-5 "></i></i></h1>
                                <h6 class="text-white">Users</h6>
                            </div>
                        </div></a>
                    </div>
                    <!-- Column -->
                    <div class="col-md-6 col-lg-4 col-xlg-3">
                        <a href="{% url 'product_management' %}"> <div class="card card-hover">
                            <div class="box bg-success text-center">
                                <h1 class="font-light text-white"><i class="fa fa-cart-plus m-b-5"></i></h1>
                                <h6 class="text-white">Products</h6>
                            </div>
                        </div></a>
                    </div>
                     <!-- Column -->
                    <div class="col-md-6 col-lg-2 col-xlg-3">
                        <a href="{% url 'category_management' %}"><div class="card card-hover">
                            <div class="box bg-warning text-center">
                                    <h1 class="font-light text-white"><i class="mdi mdi-border-outside"></i></h1>
                                    <h6 class="text-white">Category</h6>
                                
                            </div>
                        </div></a>
                    </div>
                    <!-- Column -->
                    
                    <div class="col-md-6 col-lg-2 col-xlg-3">
                        <a href="{% url 'cart_management' %}"><div class="card card-hover">
                            <div class="box bg-danger text-center">
                                <h1 class="font-light text-white"><i class="mdi mdi-border-outside"></i></h1>
                                <h6 class="text-white">Cart</h6>
                            </div>
                        </div></a>
                    </div>
                
                    <!-- Column -->
                    <div class="col-md-6 col-lg-2 col-xlg-3">
                        <a href="{% url 'order_management' %}"> <div class="card card-hover">
                            <div class="box bg-info text-center">
                                <h1 class="font-light text-white"><i class="mdi mdi-arrow-all"></i></h1>
                                <h6 class="text-white">Orders</h6>
                            </div>
                        </div></a>
                    </div>
                    <!-- Column -->
                    <!-- Column -->
              
                    <!-- Column -->
                  
                     <!-- Column -->
                
                    <!-- Column -->
               
                    <!-- Column -->
            
                    <!-- Column -->
                </div>
                <!-- ============================================================== -->
                <!-- Sales chart 1 -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-md-flex align-items-center">
                                    <div>
                                        <h4 class="card-title">Income Analysis</h4>
                                        <h5 class="card-subtitle">Overview of Latest Month</h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <!-- column -->
                                    <div class="col-lg-8">
                                            <canvas id="myChart1" width="100" height="50"></canvas>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="row">
                                            <div class="col-6 m-t-15">
                                                <div class="bg-dark p-10 text-white text-center">
                                                   <i class="fa fa-user m-b-5 font-16"></i>
                                                   <h5 class="m-b-0 m-t-5">{{no_of_users}}</h5>
                                                   <small class="font-light">Total Users</small>
                                                </div>
                                            </div>
                        
                                            <div class="col-6 m-t-15">
                                                <div class="bg-dark p-10 text-white text-center">
                                                   <i class="fa fa-cart-plus m-b-5 font-16"></i>
                                                   <h5 class="m-b-0 m-t-5">{{no_of_products}}</h5>
                                                   <small class="font-light">Total Products</small>
                                                </div>
                                            </div>
                                             <div class="col-6 m-t-15">
                                                <div class="bg-dark p-10 text-white text-center">
                                                   <i class="fa fa-tag m-b-5 font-16"></i>
                                                   <h5 class="m-b-0 m-t-5">{{no_of_category}}</h5>
                                                   <small class="font-light">Total Category</small>
                                                </div>
                                            </div>
                                            <div class="col-6 m-t-15">
                                                <div class="bg-dark p-10 text-white text-center">
                                                   <i class="fa fa-table m-b-5 font-16"></i>
                                                   <h5 class="m-b-0 m-t-5">{{no_of_orders}}</h5>
                                                   <small class="font-light">Total Orders</small>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <!-- column -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- Sales chart 2 -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-md-flex align-items-center">
                                    <div>
                                        <h4 class="card-title">Product Analysis</h4>
                                        <h5 class="card-subtitle">Overview of products and income</h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <!-- column -->
                                    <div class="col-lg-6">
                                            <canvas id="myChart2" width="100" height="50"></canvas>
                                    </div>
                                    <div class="col-lg-6">
                                        <canvas id="myChart3" width="100" height="50"></canvas>
                                    </div>
                                    <!-- column -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                 <!-- ============================================================== -->
                <!-- Sales chart 3 -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-md-flex align-items-center">
                                    <div>
                                        <h4 class="card-title">Analysis</h4>
                                        <h5 class="card-subtitle">Overview of Category and Status</h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <!-- column -->
                                    <div class="col-lg-6">
                                            <canvas id="myChart4" width="10" height="10"></canvas>
                                    </div>
                                    <div class="col-lg-6">
                                        <canvas id="myChart5" width="10" height="10"></canvas>
                                    </div>
                                    <!-- column -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                  <!-- ============================================================== -->
                <!-- Sales chart 4 -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-md-flex align-items-center">
                                    <div>
                                        <h4 class="card-title">Income Analysis</h4>
                                        <h5 class="card-subtitle">Overview of Profit Loss</h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <!-- column -->
                                    <div class="col-lg-6">
                                            <canvas id="myChart6" width="10" height="10"></canvas>
                                    </div>
                                    <div class="col-lg-6">
                                        <canvas id="myChart7" width="10" height="10"></canvas>
                                    </div>
                                    <!-- column -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <!-- ============================================================== -->
                <!-- Recent comment and chats -->
                <!-- ============================================================== -->
            <!-- ............chart1................. -->
                <script>
                    var ctx = document.getElementById('myChart1').getContext('2d');
                    var myChart1 = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: [{% for daily in monthly_report %} '{{daily.orderdate__year}}/{{daily.orderdate__month}}/{{daily.orderdate__day}}', {% endfor %}],
                    datasets: [{
                        label: '{% for order in orders %} {{order.product.brand}},{% endfor %}',
                        data: [{% for daily in monthly_report %} {{ daily.sub_total__sum}}, {% endfor %}],
                        backgroundColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                            borderColor: [
                                'rgba(255, 99, 132, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)'
                            ],
                                borderWidth: 1,
                                barThickness:50,
                                responsive:true,
                    }]
                        },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    min: 0,
                                    stepSize: 1,
                                }
                            }]
                        }
                    }
                    });
                </script>
              <script>
                const myChart = new Chart(
                  document.getElementById('myChart1'),
                  config
                );
              </script>
              <!-- ..............chart1 end ............ -->



            <!-- ...................chart 2................. -->
            <script>
                var ctx = document.getElementById('myChart2').getContext('2d');
                var myChart1 = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: [{% for product in product_brand %} '{{product.brand}}', {% endfor %}],
                datasets: [{
                    label: '{% for product in product_brand %} {{product.brand}},{% endfor %}',
                    data: [{% for product in product_brand %} {{ product.brand__count}}, {% endfor %}],
                    backgroundColor: [
                        // 'rgba(255, 99, 132, 1)',
                        // 'rgba(54, 162, 235, 1)',
                        // 'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1,
                        barThickness:50,
                        responsive:true,
                }]
                    },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                min: 0,
                                stepSize: 1,
                            }
                        }]
                    }
                }
                });
            </script>
        </div>
        </div>
          <script>
            const myChart = new Chart(
              document.getElementById('myChart2'),
              config
            );
          </script>
      <!-- ................chart 2 ends....................       -->


      <!-- ...........chart 3.................. -->
      <script>
        var ctx = document.getElementById('myChart3').getContext('2d');
        var myChart1 = new Chart(ctx, {
            type: 'line',
            data: {
                labels: [{% for daily in daily_report %} '{{daily.orderdate__day}}/{{daily.orderdate__month}}/{{daily.orderdate__year}}', {% endfor %}],
        datasets: [{
            label: '{% for order in orders %} {{order.product.brand}},{% endfor %}',
            data: [{% for daily in daily_report %} {{ daily.sub_total__sum}}, {% endfor %}],
            backgroundColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1,
                barThickness:50,
                responsive:true,
        }]
            },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        min: 0,
                        stepSize: 1,
                    }
                }]
            }
        }
        });
    </script>
</div>
</div>
  <script>
    const myChart = new Chart(
      document.getElementById('myChart3'),
      config
    );
  </script>
  <!-- ...............endof chart3............ -->


  <!-- ................chart 4.................. -->
  <script>
    var ctx = document.getElementById('myChart4').getContext('2d');
    var myChart1 = new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: [{% for cat in category %} '{{cat.name}}', {% endfor %}],
    datasets: [{
        label: '{% for cat in category %} {{cat.name}},{% endfor %}',
        data: [{% for cat in category %} {{ cat.name__count}}, {% endfor %}],
        backgroundColor: [
            // 'rgba(255, 99, 132, 1)',
            // 'rgba(54, 162, 235, 1)',
            // 'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)'
        ],
        borderColor: [
            'rgba(255, 99, 132, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1,
            barThickness:50,
            responsive:true,
    }]
        },
    options: {
        cutoutPercentage: 10,
        scales: {
            yAxes: [{
                ticks: {
                    min: 0,
                    stepSize: 1,
                }
            }]
        }
    }
    });
</script>
</div>
</div>
<script>
const myChart = new Chart(
  document.getElementById('myChart4'),
  config
);
</script>
 <!-- .................end of chart 4............... -->

 <!-- ..........chart5 ......................... -->
 <script>
    var ctx = document.getElementById('myChart5').getContext('2d');
    var myChart1 = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: [{% for stat in order_status %} '{{stat.status}}', {% endfor %}],
    datasets: [{
        label: '{% for stat in order_status %} {{stat.status}},{% endfor %}',
        data: [{% for stat in order_status %} {{ stat.status__count}}, {% endfor %}],
        backgroundColor: [
            'rgba(255, 99, 132, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)'
        ],
        borderColor: [
            'rgba(255, 99, 132, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1,
            barThickness:50,
            responsive:true,
    }]
        },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    min: 0,
                    stepSize: 1,
                }
            }]
        }
    }
    });
</script>
</div>
</div>
<script>
const myChart = new Chart(
  document.getElementById('myChart5'),
  config
);
</script>


<!-- ...............chart 6................... -->
<script>
    var ctx = document.getElementById('myChart6').getContext('2d');
    var myChart1 = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: [{% for profit in profit_loss %} '{{profit.orderdate__year}}/{{profit.orderdate__month}}/{{profit.orderdate__day}}', {% endfor %}],
    datasets: [{
        label: '{% for profit in profit_loss %} {{profit.product.brand}},{% endfor %}',
        data: [{% for profit in profit_loss %} {{ profit.sub_total__sum}}, {% endfor %}],
        backgroundColor: [
            'rgba(255, 99, 132, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)'
        ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
                borderWidth: 1,
                barThickness:50,
                responsive:true,
    }]
        },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    min: 0,
                    stepSize: 1,
                }
            }]
        }
    }
    });
</script>
<script>
const myChart = new Chart(
  document.getElementById('myChart6'),
  config
);
</script>


<!-- ...............chart7................... -->
<script>
    var ctx = document.getElementById('myChart7').getContext('2d');
    var myChart1 = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: [{% for profit in profit_loss %} '{{profit.orderdate__year}}/{{profit.orderdate__month}}/{{profit.orderdate__day}}', {% endfor %}],
    datasets: [{
        label: '{% for profit in profit_loss %} {{profit.product.brand}},{% endfor %}',
        data: [{% for profit in profit_loss %} {{ profit.sub_total__sum}}, {% endfor %}],
        backgroundColor: [
            // 'rgba(255, 99, 132, 1)',
            // 'rgba(54, 162, 235, 1)',
            // 'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)'
        ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
                borderWidth: 1,
                barThickness:50,
                responsive:true,
    }]
        },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    min: 0,
                    stepSize: 1,
                }
            }]
        }
    }
    });
</script>
<script>
const myChart = new Chart(
  document.getElementById('myChart7'),
  config
);
</script>

    {% endblock content %} 
       
