{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% block extra_css %}
    <style xmlns="http://www.w3.org/1999/html">
    </style>
{% endblock %}
{% block page_title %}
 Tables
{% endblock %}
{% block content %}

    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
                <h4 class="page-title">Tables</h4>
                <div class="ml-auto text-right">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Library</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Order details</h5>
                        <div class="table-responsive">
                            <table id="example6" class="table table-striped table-bordered" style="width:100%">
                                <thead>
                                    <tr>
                                        <th scope="col" class="font-weight-bold">User</th>
                                        <th scope="col" class="font-weight-bold">Product</th>
                                        <th scope="col" class="font-weight-bold">Brand</th>
                                        <th scope="col" class="font-weight-bold">Quantity</th>
                                        <th scope="col" class="font-weight-bold">Price</th>
                                        <th scope="col" class="font-weight-bold">Adress</th>
                                        <th scope="col" class="font-weight-bold">Date</th>
                                        <th scope="col" class="font-weight-bold">Status</th>
                                        <th scope="col" class="font-weight-bold">Edit status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for order in orders %}
                            <tr>
                                <td>{{order.user.username}}</td>
                                <td> <img src="{{order.product.image.url}}" alt="" height="50" width="50"> </td>
                                <td>{{order.product.brand}}</td>
                                <td>{{order.quantity}}</td>
                                <td>{{order.total_cost}}</td>
                                <td>{{order.adress.locality}},{{order.adress.city}},{{order.adress.pincode}},{{order.adress.state}}</td>
                                <td>{{order.orderdate}}</td>
                                <td><p class="fw-bold" style="font-weight: bolder;">{{order.status}}</p></td>
                                
                                <td>
                                    {% if order.status == "Delivered" or order.status == "Return" or order.status == "Canceled" %}
                                    <button disabled type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal{{order.id}}">
                                    Edit
                                  </button>
                                  <!-- Modal -->
                                  <div class="modal fade" id="exampleModal{{order.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <h5 class="modal-title" id="exampleModalLabel">Edit Order Status</h5>
                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                          </button>
                                        </div>
                                        <div class="modal-body">
                                            <form action="{% url 'edit_status' order.id %}" method="post">
                                                {% csrf_token %}
                                               {{form|crispy}}
                                        </div>
                                        <div class="modal-footer">
                                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                          <button type="submit" class="btn btn-primary">Save changes</button>
                                        </form>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  {% else %}
                                  <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal{{order.id}}">
                                    Edit
                                  </button>
                                  <!-- Modal -->
                                  <div class="modal fade" id="exampleModal{{order.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <h5 class="modal-title" id="exampleModalLabel">Edit Order Status</h5>
                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                          </button>
                                        </div>
                                        <div class="modal-body">
                                            <form action="{% url 'edit_status' order.id %}" method="post">
                                                {% csrf_token %}
                                               {{form|crispy}}
                                        </div>
                                        <div class="modal-footer">
                                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                          <button type="submit" class="btn btn-primary">Save changes</button>
                                        </form>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  {% endif %}
                                </td>
                                  
                                 
                               
                                
                            </tr>
                            {% endfor %}                  
                                </tbody>
                            </table>
                         
                     
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
    <script>
        $(document).ready(function() {
            $('#example6').DataTable();
            "order": [[ 7, "asc" ]]
        } );
        </script>
{% endblock %}