{% extends 'base.html' %}
{% load static %}

    {% block content %}
       
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
             <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-12 d-flex no-block align-items-center">
                        <h4 class="page-title">Sales Report</h4>
                        <div class="ml-auto text-right">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Library</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Sales Cards  -->
                <!-- ============================================================== -->
                <div class="row text-center">
                    <div class="col-md-6 col-lg-4 col-xlg-3">
                        <div class="card card-hover" id="pdf" style="cursor: pointer;">
                            <div class="box bg-primary text-center">
                                <h1 class="font-light text-white"><i class="mdi mdi-download"></i></h1>
                                <h6 class="text-white">Download PDF</h6>
                            </div>
                        </div>
                        
                    </div>
                    <div class="col-md-6 col-lg-4 col-xlg-3">
                        <a href="{% url 'export_to_excel' %}"><div class="card card-hover">
                            <div class="box bg-success text-center">
                                <h1 class="font-light text-white"><i class="mdi mdi-download" id="excel"></i></h1>
                                <h6 class="text-white">Download ExcelSheet</h6>
                            </div>
                        </div></a>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xlg-3">
                        <a href="{% url 'export_to_csv' %}"><div class="card card-hover">
                            <div class="box bg-secondary text-center">
                                <h1 class="font-light text-white"><i class="mdi mdi-download"></i></h1>
                                <h6 class="text-white">Download CSV</h6>
                            </div>
                        </div></a>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- Sales chart -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title fw-bold">Products Selled</h5>
                                <!-- <form action="" method="post">
                                    {% csrf_token %}
                                <div class="col-md-3 text-center mb-4 mt-1">
                                <div><p>from :</p>  <input class="form-control" type="date" name="form"></div>
                                <div><p>To :</p> <input class="form-control" type="date" name="to"></div>
                                <button class="btn btn-success form-control" type="submit">Search</button>
                                </div>
                            </form> -->

                            <!-- ...........paste the table here............... -->
                            <table id="example" class="table table-striped table-bordered" style="width:100%">
                                <thead>
                                    
                                    <tr>
                                        <th>BrandName</th>
                                        <th>Quantity Sold</th>
                                        <th>Date</th>
                                        <th>Income of Delivered orders</th>
                                        <!-- <th>Start date</th>
                                        <th>Salary</th> -->
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for sale in sales %}
                                    <tr>
                                        <td>{{sale.product__brand}}</td>
                                        <td>{{sale.quantity__count}}</td>
                                        <td>{{sale.orderdate__day}}/{{sale.orderdate__month}}/{{sale.orderdate__year}}</td>
                                        <td>{{sale.sub_total__sum}}</td>
                                        <!-- <td>2011/04/25</td>
                                        <td>$320,800</td> -->
                                    </tr>    
                                    {% endfor %}                  
                                </tbody>
                            </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- Sales chart -->
                <!-- ============================================================== -->
                <div class="row text-center">
                    <div class="col-md-6 col-lg-4 col-xlg-3">
                        <div class="card card-hover" id="second" style="cursor: pointer;">
                            <div class="box bg-primary text-center">
                                <h1 class="font-light text-white"><i class="mdi mdi-download"></i></h1>
                                <h6 class="text-white">Download PDF</h6>
                            </div>
                        </div>
                        
                    </div>
                    <div class="col-md-6 col-lg-4 col-xlg-3">
                        <a href="#"><div class="card card-hover">
                            <div class="box bg-success text-center">
                                <h1 class="font-light text-white"><i class="mdi mdi-download"></i></h1>
                                <h6 class="text-white">Download ExcelSheet</h6>
                            </div>
                        </div></a>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xlg-3">
                        <a href="{% url 'export_to_csv' %}"><div class="card card-hover">
                            <div class="box bg-secondary text-center">
                                <h1 class="font-light text-white"><i class="mdi mdi-download"></i></h1>
                                <h6 class="text-white">Download CSV</h6>
                            </div>
                        </div></a>
                    </div>
                </div>




                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                
                                    <h5 class="card-title fw-bold">Daily Income</h5>
                                
                            <!-- ...........paste the table here............... -->
                            <table id="example12" class="table table-striped table-bordered" style="width:100%">
                                <thead>
                                    
                                    <tr>
                                    
                                        <th>No.of.products Delivered</th>
                                        <th>Date</th>
                                        <th>Income of Delivered orders</th>
                                        <!-- <th>Start date</th>
                                        <th>Salary</th> -->
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for daily in daily_income %}
                                    <tr>
                                        <td>{{daily.quantity__count}}</td>
                                        <td>{{daily.orderdate__day}}/{{daily.orderdate__month}}/{{daily.orderdate__year}}</td>
                                        <td>{{daily.sub_total__sum}}</td>
                                       
                                    </tr>    
                                    {% endfor %}                  
                                </tbody>
                            </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- Recent comment and chats -->
                <!-- ============================================================== -->
  
                <!-- ============================================================== -->
                <!-- Recent comment and chats -->
                <!-- ============================================================== -->
            </div>
           

    <script>
    $(document).ready(function() {
        $('#example').DataTable();
    } );
    </script>

<script>
    $(document).ready(function() {
        $('#example12').DataTable();
    } );
    </script>
    <script src="{% static 'dashboard/js/pdf.js' %}"></script>
    <script src="{% static 'dashboard/js/excel.js' %}"></script>

<script>
    document.getElementById('pdf').onclick = function pdfpage(){
        alert("Are you sure you want to download the pdf");
        var pdf = document.getElementById('example');
        var option = {
            margin : 1,
            filename : 'sales.pdf',
            html2canvas : {scale : 2},
            jsPDF : {unit:'in',format:'letter',orientation:'portrait'}
        };
        html2pdf(pdf,option);
    }
    document.getElementById('second').onclick = function pdfsecond(){
        alert("Are you sure you want to download the pdf")
        var pdf2 = document.getElementById('example12');
        var option2 = {
            margin : 1,
            filename : 'salesincome.pdf',
            html2canvas : {scale : 2},
            jsPDF : {unit:'in',format:'letter',orientation:'portrait'}
        };
        html2pdf(pdf2,option2);
    }

    document.getElementById('excel').addEventListener('click',function(){
        var table2excel = new Table2Excel();
        table2excel.export(document.querySelectorAll("example"));
    });
</script>
    {% endblock content %} 
       
